@model IEnumerable<Semester1Project.ViewModels.UserApplicationViewModel>

@{
    ViewBag.Title = "Applicants";
}

<div class="titlebar">Applicatants</div>

@foreach (var item in Model)
{
    @Html.Partial("ApplicantBanner", item)
}
