@media (max-width: 1366px) {
    html, body, .body-content {
        height: 100%;
    }

    a, a:link, a:visited, a:hover {
        color: black;
    }

    .white {
        color: white;
    }

    .container {
        padding-right: 0;
        padding-left: 0;
    }

    /* Set width on the form input elements since they're 100% wide by default */
    input,
    select,
    textarea {
        max-width: 280px;
        margin: auto;
    }

    label {
        width: 100%;
        text-align: center;
    }

    .btn {
        display: block;
        background-color: #3ECBE8;
        border-color: #2686E8;
    }

    .btn:hover {
        background-color: #3ECBE8;
    }

    .row {
        margin-right: 0px;
        margin-left: 0px;
    }

    .control-label {
        margin: auto;
    }

    .registerbuttons {
        display: flex;
        flex-direction: row;
    }

    .form-horizontal .form-group {
        margin-right: 0px;
        margin-left: 0px;
    }

    .form-horizontal {
        margin-top: 10px;
    }

    .titlebar {
        text-align: center;
        padding: 5px;
        font-size: 16px;
        background: linear-gradient(to bottom, #2FB05A 0%,#29994E 100%)
    }

    .navbar {
        min-height: 35px;
        margin-bottom: 0;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "home search create list user"
    }

    @font-face {
        font-family: "Dopestyle";
        src: url("../Fonts/Dopestyle.ttf");
    }

    .logo {
        text-align: center;
        padding: 5px;
        font-family: "Dopestyle";
        font-size: 45px;
        margin-bottom: 40px;
    }

    .register {
        text-align: center;
        padding-top: 20px;
    }

    body {
        background: linear-gradient(to bottom, #51ADFF, #3CC0E8);
    }

    .loginPage {
        background: linear-gradient(to bottom, #51ADFF, #3CC0E8);
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .loginContainer {
        max-width: 100%;
    }

    .loginform {
        margin: auto;
    }

    footer {
        position: fixed;
        right: 0;
        bottom: 0;
        left: 0;
        padding: 1rem;
        background: linear-gradient(to bottom, #2FB05A 0%,#29994E 100%)
    }

    .home {
        grid-area: home;
    }

    textarea {
        width: 100%;
    }

    .descriptionarea {
        text-align: center;
    }

    .search {
        grid-area: search;
    }

    .create {
        grid-area: create;
    }

    .list {
        grid-area: list;
    }

    .user {
        grid-area: user;
    }

    .icon {
        height: 100%;
        margin: auto;
    }

    .BannerRoot {
        background-color: white;
    }

        .BannerRoot:active {
            -moz-box-shadow: inset 0 0 10px #000000;
            -webkit-box-shadow: inset 0 0 10px #000000;
            box-shadow: inset 0 0 10px #000000;
        }


    .bannerSpanTitle {
        text-decoration: none;
        text-overflow: ellipsis;
        display: block;
        overflow: hidden;
        white-space: nowrap;
        max-width: 75%;
        font-weight: 600;
        font-size: 26px;
    }

    .jobbanner {
        white-space: nowrap;
        text-overflow: ellipsis;
        height: 10vh;
    }

    .jobrow {
        -webkit-box-shadow: 0 8px 6px -6px #9f9f9f;
        -moz-box-shadow: 0 8px 6px -6px #9f9f9f;
        box-shadow: 0 8px 6px -6px #9f9f9f;
        padding-top: 2vh;
    }

    .bannerSpanLocation {
        text-decoration: none;
        text-overflow: ellipsis;
        display: block;
        overflow: hidden;
        white-space: nowrap;
        max-width: 75%;
        font-size: 13px;
    }

    .jobpayment {
        font-size: 15px;
        font-weight: 300;
        height: 10vh;
    }

    .bannerPayment {
        font-weight: 600;
    }

    .text-danger {
        display: block;
        text-align: center;
        list-style-type: none;
    }
}
